{% extends "layout.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="edit-entry">
            <h2>Edit Entry</h2>
            <form action="{{ url_for['edit'] }}" method="POST">
                <label for="title"> Title</label>
                <input id="title" type="text" name="title" value="{{ details[1] }}"><br>
                <label for="date">Date</label>
                <input id="date" type="date" name="date" value="{{ details[2] }}"><br>
                <label for="time-spent"> Time Spent</label>
                <input id="time-spent" type="text" name="timeSpent" value="{{ details[3] }}"><br>
                <label for="what-i-learned">What I Learned</label>
                <textarea id="what-i-learned" rows="5" name="whatILearned" placeholder="{{ details[4] }}"></textarea>
                <label for="resources-to-remember">Resources to Remember</label>
                <textarea id="resources-to-remember" rows="5" name="ResourcesToRemember"
                          placeholder="{{ details[5] }}"></textarea>
                <input type="submit" value="Publish Entry" class="button">
                <a href="/entries" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}